<div class="post-index">
    <% posts.each do |post| %>
    <div>
        <p><%= post.store_name %></p>
        <p><%= post.access %></p>
        <p><%= post.content %></p>
    <% if current_user == post.user %>
        <%= link_to "削除", posts_path, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
    <% end %>
    </div>
    <% end %>
    <%= paginate posts %>
</div>

