<div class="search-form">
<h1>Search Here!!</h1>
<%= form_with url: search_posts_path, method: :get, local: true do |f| %>
  <%= f.text_field :access, placeholder: " 渋谷" %>
  <%= f.submit :search, class: "btn btn-primary btn-sm btn-search" %>
<% end %>
</div>
<div class="search-result">
    <% @posts.each do |post| %>
        <div class="post-index">
            <table class="table">
                <tbody>
                    <tr>
                        <th class="border px-4 bg-primary text-white<%= "border px-4 py-0 pt-3 bg-primary text-white narrow" unless logged_in? %>">
                            <div class="float-left"><span class="search-table-store-name <%= "logged-search-table-store-name" if logged_in? %>">店名：<%= post.store_name %></span><span class="search-table-access <%= "logged-search-table-access" if logged_in? %>">最寄駅：<%= post.access %></span></div>
                            <div class="search-post-btn clear">
                            　<% if logged_in? %>
                                　<% if current_user.favorite?(post) %>
                                      <%= form_with(model: current_user.favorites.find_by(post_id: post.id), local: true, method: :delete, class: "form-favorite") do |f| %>
                                        <%= hidden_field_tag :post_id, post.id %>　
                                        <%= f.submit 'お気に入り解除', class: 'btn btn-danger btn-sm search-btn-unfavorite' %>
                                      <% end %>
                                  <% else %>
                                      <%= form_with(model: current_user.favorites.build, local: true, class: "form-favorite") do |f| %>
                                        <%= hidden_field_tag :post_id, post.id %>
                                        <%= f.submit 'お気に入り登録', class: 'btn btn-success btn-sm search-btn-favorite' %>
                                      <% end %>
                                  <% end %>
                            　<% end %>
                            　<% if current_user == post.user %>
                            　<%= link_to "削除", posts_path, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-sm search-btn-delete" %>
                            　<% end %>
                          　</div>
                        </th>
                    </tr>
                    <tr style="white-space:pre-line">
                    <td class="border px-4 table-content">
                        <div class="image">
                            <% if post.image? %>
                                <%= image_tag post.image.url %>
                            <% else %>
                                <%= image_tag "default.jpg" %>
                            <% end %>
                        </div>
                        <div><%= post.content %><div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    <% end %>
</div>
