    <header>
        <nav class="container">
            <h1><a href="/">Workplace Sharing</a></h1>
            <% if logged_in? %>
            <ul>
                <li><%= link_to "投稿一覧", posts_path %></li>
                <li><%= link_to "新規投稿", new_post_path %></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>    
            <% else %>
            <ul>
                <li><%= link_to "投稿一覧", posts_path %></li>
                <li><%= link_to "ログイン", login_path %></li>
                <li><%= link_to "ユーザー登録", new_user_path %></li>
            </ul>    
            <% end %>
        </nav>
    </header>
